 
#example{
    padding: 1.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 6px 6px 6px 6px;
}

#example ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#example li{
    padding: 0;
    margin: 0;
}

#example p{
    margin: 0;
}

#example h1{
    margin: 0;
}
